.todo-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.todo-item {
    width: 700px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.done {
        text-decoration: line-through;
    }
}

.todo-group {
    justify-self: center;
    box-shadow: 0 4px 24px rgba(0,0,0,0.12);
    padding: 24px 24px 24px 24px;
    margin: 5px auto;
}

.todo-input {
    width: 500px;
    padding: 5px;
    border: 1px solid black;
    height: 50px;
    margin: 5px auto;
}

.todo-add-button {
    width: 60px;
    height: 40px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    align-self: center;
}

.todo-add-button:disabled {
    background-color: #2078fa;
    cursor: not-allowed;
    opacity: 0.6;
}

.todo-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 700px;
}

.delete-button {
    background-color: #dcdbdb;
    color: black;
    border: 1px solid black;
    width: 35px;
    height: 40px;
    cursor: pointer;
    margin-left: 10px;
}

.todo-empty-info {
    font-size: 1.1rem;
    color: black;
    margin: 10px;
    text-align: center;
}